@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5e4e7;
}

input[type="number"] {
  -moz-appearance: textfield;
  /*For FireFox*/
}

input[type="number"]::-webkit-inner-spin-button {
  /*For Webkits like Chrome and Safari*/
  -webkit-appearance: none;
  margin: 0;
}

.input__section {
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app__heading {
  margin: 100px 0;
  color: #517476;
}

.main {
  background-color: white;
  padding: 45px;
  border-radius: 15px;
}

.main .input__wrapper {
  position: relative;
}

.main .input__wrapper label {
  text-align: left;
  width: 50%;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #517476;
}

.main .input__wrapper .warning {
  width: 50%;
  display: inline-block;
  text-align: right;
  color: #d88370;
}

.main .input__wrapper svg {
  position: absolute;
  bottom: 25%;
  left: 4%;
}

.main .input__wrapper.person {
  margin-top: 60px;
}

.input {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  display: block;
  width: 100%;
  border: none;
  height: 57px;
  background-color: #f3f8fb;
  text-align: right;
  padding-right: 10px;
  border-radius: 5px;
  color: #00474b;
}

.input:focus {
  outline-color: #5da99f;
  -moz-outline-color: #5da99f;
}

.input:-moz-focusring {
  outline: 1px solid #5da99f;
}

.customInput {
  margin-top: 14px;
  height: 62px;
  text-align: center;
  font-size: 20px;
  color: #517476;
}

h4 {
  margin-top: 60px;
  font-size: 15px;
}

.button__section {
  margin: 0px !important;
  justify-content: space-between !important;
}

.button__section__heading {
  text-align: left;
  margin-bottom: 5px;
}

.button__section .button {
  width: 100%;
  margin: 8px 0;
  background-color: #00474b;
  color: white;
  height: 62px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  font-weight: 700;
}

.button__section .button:hover {
  background-color: #9fe8df;
  color: #00474b;
  cursor: pointer;
}

.button__section .button__active {
  background-color: #26c2ad;
}

.display__section {
  background-color: #00474b;
  border-radius: 15px;
  height: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display__section h3 {
  color: #f4fafa;
  text-align: left;
}

.display__section h2 {
  font-size: 40px;
  color: #26c2ad;
  display: inline;
  position: relative;
  padding: 0 5px;
}

.display__section p {
  text-align: left;
  color: #517476;
}

.display__section .tipSvg {
  transform: scale(2);
  position: absolute;
  right: 110%;
  top: 38%;
}

.display__section .tipSvg path {
  fill: #26c2ad;
}

.display__section .amount h3 {
  font-size: 14px;
}

.resetButton {
  width: 80%;
  display: block;
  margin: 150px auto 0 auto;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #00474b;
  font-size: 24px;
  font-weight: 700;
  background-color: #9fe8df;
  opacity: 0.2;
}

.resetButton.btn-active {
  background-color: #26c2ad;
  opacity: 1;
  cursor: pointer;
}

.resetButton.btn-active:hover {
  background-color: #9fe8df;
}

@media screen and (max-width: 1400px) {
  .input__section {
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .main {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .App {
    width: 100%;
  }
  .display__section .tipSvg {
    transform: scale(1.8);
  }
}
/*# sourceMappingURL=App.css.map */